.post-container {
  padding-top: 55px;
  background: url('../../assets//r6-siege-v3-bg.jpg');
  height: 100vh;
  color: whitesmoke
}

.title-input {
  width: 500px;
}

.intial_post-input {
  width: 500px;
  height: 500px;
}