@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("../../assets/BebasNeue\ Bold.otf") format("opentype");
}

#thread-container {
  padding-top: 55px;
  font-family: BebasNeue;
  background: url(../../assets/r6-siege-v3-bg.jpg);
  height: 100vh;
  color: whitesmoke;
  font-size: 50px;
}