@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("../../assets/BebasNeue\ Bold.otf") format("opentype");
}

.forums-container {
  padding-top: 55px;
  font-family: BebasNeue;
  background: url('../../assets/thermite-ash-main-bg.jpg');
  height: 100vh;
  color: whitesmoke;
  text-decoration: none;
  font-size: 50px;
}

.link {
  color: whitesmoke;
  text-decoration: none;
}
