.newThreadReply-container {
  padding-top: 55px;
  background: url('../../assets//r6-siege-v3-bg.jpg');
  height: 100vh;
  color: whitesmoke
}

.newThreadReply-input{
  background: grey;
  background: rgba(204, 204, 204, 0.3);
  color: whitesmoke;
  width: 500px;
  height: 300px;
}